# Compiled Object files
*.slo
*.lo
*.o
*.obj
[Dd]ebug
[Rr]elease
x64
x86

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSC
.vscode

# Caches
.vs
*.user

# Etc.
*.zip